* {
  font-family: "Inter", sans-serif;
  margin: 0px;
  padding: 0px;
  letter-spacing: 0.03em;
  line-height: 1.35em;
}
.output {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  justify-content: center;
  align-items: center;
}
.contact {
  margin-top: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
a {
  color: black;
  text-decoration-color: black;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
.eachcontact {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
}
.section {
  width: 100%;
}
hr {
  width: 100%;

  border: 1px solid black;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}
.each-education {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.college-time,
.degree-grade {
  margin-top: 6px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.courses {
  margin-top: 6px;
  width: 90%;
  margin-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 6px;
}
.skills {
  align-items: center !important;
}
.each-project {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.name-tool-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name-tool {
  margin-top: 10px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.bulletpoints {
  width: 90%;
}
.project-anchor {
  color: blue;
  text-decoration-color: blue;
}
.experience-role {
  width: 100% !important;
}
.experience-industry {
  text-transform: capitalize !important;
}
form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.education-input {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
input {
  width: 100%;
  height: 20px;
  border-radius: 6px;
  border: 1px solid grey;
  color: grey;
}
.output-h2 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 17px;
}
ul {
  margin-bottom: 6px;
  letter-spacing: 0.03em;
  line-height: 1.45em;
}
.college {
  font-weight: 600;
  font-size: 16px;
}
p {
  letter-spacing: 0.03em;
}
.smallpara {
  font-size: 15px !important;
}
